@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl font-semibold;
  }
  h2 {
    @apply text-xs font-semibold uppercase tracking-wider opacity-60 mb-3;
  }
}

html, body, #app {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

td {
  padding: 0.25em 1em;
}
