[Desktop Entry]
Type=Application
Name=Razer Onboard Config
Comment=Program Razer mouse buttons, DPI and profiles into onboard memory
Exec=electron44 /home/heather/dev/razerqdhid/electron
Icon=razer-onboard-config
Terminal=false
Categories=Settings;HardwareSettings;Utility;
StartupWMClass=razer-onboard-config
